.feedbackColor {
    background-color: #f3efe5;
    height: 100vh;
}

.mainBackImg {
    height: min-content;
}

.card1 {
    background-color: #f3efe5;
}

.cont-ak {
    background-color: gainsboro;
    height: 100vh;
}

.body_ak {
    background-color: gainsboro;
}